/*общие*/
body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	min-width: 1300px;
	color: #000;
	background-color: #f2f2f2;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.line {
	outline: 1px solid black;
}
.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}
/*Главная*/

/*навигация*/

.main-header {
	margin: 0;
	padding: 0;
}
.main-navigation {
	position: relative;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 26px;
}
.main-navigation a {
	display: block;
	padding: 15px 70px;
	text-decoration: none;
	color:#000;
}
.menu-left {
	float: left;
}
.menu-right {
	float: right;
}
.nav-logo {
	width: 138px;
	height: 70px;
	overflow: auto;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
}
.nav-logo a {
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
}

/*Навигация состояния*/

.main-navigation .active {
	color: #766357;
}
.main-navigation a:hover {
	color: #81b3d2;
}
.main-navigation a:active {
	color: #000;
	opacity: .3;
}
.main-navigation .active:hover {
	color: #604e43;
}
.main-navigation .active:active {
	color: #766357;
	opacity: .3;
}


/*intro*/

.logo-container {
	background-image: url('../img/bg.jpg');
	background-color: #2e404a;
	width: 1200px;
	height: 427px;
	padding-top: 80px;
	margin-bottom: 60px;
}
.logo-text {
	margin: 0 auto;
}
.welcome {
	background-image: url('../img/sedona-welcome.png');
	width: 256px;
	height: 86px;
	margin: 0 auto 50px auto;
}
.name {
	background-image: url('../img/sedona-title.png');
	width: 458px;
	height: 78px;
	margin: 0 auto 50px auto;
}
.slogan {
	background-image: url('../img/slogan.png');
	width: 296px;
	height: 80px;
	margin: 0 auto;
}

/*контент*/

.reasons-title {
	margin: 0 auto;
	width: 570px;
	margin-bottom: 50px;	
}
.reasons-title h1 {
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}
.reasons-title p {
	line-height: 24px;
	text-align: center;
	color: #333333;
}
.reasons-blue {
	margin: 0;
	padding: 0;
	font-size: 0;
	width: 100%;
}
.reason-info {
	margin: 0;
	padding: 60px 55px;
	width: 290px;
	background-color: #81b3d2;
	color: #fff;
	line-height: 21px;
	text-align: center;
	display: inline-block;
}
.blue-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 21px;
	font-weight: bold;
}
.reason-number {
	margin-bottom: 25px;
	text-align: center;
	font-size: 14px;
}
.reason-number span {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0 3px;
	z-index: 2;
	background-color: #81b3d2;
}
.reason-number::after {
	content: "";
	position: relative;
	text-align: center;
	top: -12px;
	width: 50px;
	margin: 0 auto;
	z-index: 1;
	display: block;
	border-bottom: 2px solid #fff;
}
.reason-info p {
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.reason-image {
	width: 800px;
	display: inline-block;
	line-height: 0;
	vertical-align: top;
}
.benefits {
	margin: 0;
	padding: 0;
}
.benefit-title {
	font-weight: bold;
	line-height: 21px;
	font-size: 21px;
}
.benefit-item {
	float: left;
	padding: 60px 70px 70px 70px;
	width: 260px;
	text-align: center;
	line-height: 21px;
}
.benefit-pic {
	background-image: url('../img/sprite/sp-benefits.png');
	margin: 0 auto;
	background-repeat: no-repeat;
    display: block;
}
.home {
    width: 75px;
    height: 76px;
    background-position: -90px -5px;
}
.food {
    width: 75px;
    height: 76px;
    background-position: -5px -5px;
}
.toy {
    width: 75px;
    height: 76px;
    background-position: -5px -91px;
}
.benefit-item h2 {
	margin: 30px 0 30px 0;
	font-size: 21px;
}
.benefit-item p,
.advantage p {
	margin: 0;
	padding: 0;
	color: #333333;
}
.advantage {
	background-color: #eeeeee;
}
.advantage .reason-number span {
	background-color: #eeeeee;
}
.advantage .reason-number::after {
	border-bottom: 2px solid #000;
}
.search {
	margin: 0;
	padding: 0;
	position: relative;
}
.search-content {
	margin: 0 auto;
	width: 570px;
	text-align: center;
	padding-top: 60px; 
}
.search-content h2 {
	line-height: 30px;
	font-size: 30px;
	margin: 0 0 30px 0;
}
.search-content p {
	margin: 0;
}
.search-hotel {
	display: block;
	margin: 45px 0 0 0;
	background-color: #766357;
	border: none;
	color:#fff;
	font-size: 21px;
	line-height: 26px;
	padding: 30px 0;
	width: 100%;
	font-weight: bold;
	text-decoration: none;
}
.search-map {
	background-image: url('../img/map.png');
	width: 1200px;
	height: 700px;
}
.main-footer {
	margin: 0;
	padding: 0;
	position: relative;
}
.main-footer .container {
	position: absolute;
	top: -120px;
	margin: auto;
	left: 0;
	right: 0;
	background-color: rgba(249, 251, 256, .9);
}
.footer-contacts {
	float: left;
	width: 400px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	padding: 47px 0;
	font-weight: bold;
}
.footer-social {
	float: left;
	width: 400px;
	text-align: center;
	padding: 37px 0 36px 0;
}
.footer-copyright {
	float: right;
	width: 400px;
	text-align: center;
	padding: 40px 0;
}
.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 47px;
	height: 47px;
	font-size: 0;
	text-decoration: none;
	background: url('../img/sprite/sp-social2.png') no-repeat center;
	margin: 0 3px;
}
.social-btn-tw {
	background-position: -5px -176px;
}
.social-btn-fb {
	background-position: -5px -5px;
}
.social-btn-yt {
	background-position: -5px -347px;
}
.social-btn-tw:hover {
	background-position: -5px -290px;
}
.social-btn-fb:hover {
	background-position: -5px -119px;
}
.social-btn-yt:hover {
	background-position: -5px -461px;
}
.social-btn-tw:active {
	background-position: -5px -233px;
}
.social-btn-fb:active {
	background-position: -5px -62px;
}
.social-btn-yt:active {
	background-position: -5px -404px;
}
.copyright-logo {
	display: inline-block;
	width: 113px;
	height: 39px;
	vertical-align: top;
	font-size: 0;
	text-transform: none;
	background: url('../img/copyright-logo.png') no-repeat center;
}
.copyright-logo:hover {
	background: url('../img/copyright-hvr.png') no-repeat center;
}
.copyright-logo:active {
	background: url('../img/copyright-down.png') no-repeat center;
}
.footer-copyright p {
	display: inline-block;
	line-height: 39px;
	margin: 0 5px 0 0;
}
/*всплывающая форма*/
.search-form {
	display: none;
	width: 460px;
	padding: 55px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: 299px;
	margin-left: -285px;
}
.date {
	position: relative;
	margin-bottom: 30px;
}
.date input[type="text"] {
	width: 281px;
	margin: 0;
	padding: 7px 15px;
	padding-right: 45px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000;
	border: 2px solid #f2f2f2;
	outline: none;
	background: #f2f2f2;
	float: right;
}
.date input[type="text"]:hover {
	background-color: #ebebeb;
}
.date input[type="text"]:focus {
	border: 2px solid #e5e5e5;
	background-color: #fff;
}
.date input.icon-cal {
	background-position: 100% -247px;
	background-image: url('../img/sprite/sp-buttons2.png');
	background-repeat: no-repeat;
}
.date input.icon-cal:hover {
	background-position: 100% -299px;
}
.date input.icon-cal:active {
	background-position: 100% -351px;
}
.date label{
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
	margin: 7px 0;
}
.btn-search {
	margin: 55px 0 0 0;
}
.btn-search input[type="submit"] {
	width: 100%;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	border: none;
	outline: none;
	text-align: center;
	padding: 15px 0;
	background-color: #81b3d2;
}
.btn-search input[type="submit"]:hover {
	background-color: #669ec0;
}
.btn-search input[type="submit"]:active {
	background-color: #5496bd;
	color: #7dacca;
}
.tourist {
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0;
}
.adult {
	width: 230px;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}
.children {
	width: 176px;
	padding: 0 0 0 54px;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}
.adult input[type="text"],
.children input[type="text"] {
	width: 10px;
	border: none;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	outline: none;
	background-color: #f2f2f2;
	text-align: center;
	margin: 0;
	padding: 7px 15px;
}
.num {
	vertical-align: top;
	width: 37px;
	padding: 20px 15px;
	border: 0;
	outline: none;
	margin: 0;
	background: #f2f2f2 url('../img/sprite/sp-buttons2.png') no-repeat center;
}
.minus {
	background-position: -2px -705px;
}
.plus {
	background-position: -3px -808px;
}
.minus:hover {
	background-position: -2px -771px;
}
.plus:hover {
	background-position: -3px -890px;
}
.minus:active {
	background-position: -2px -738px;
}
.plus:active {
	background-position: -3px -849px;
}
.tourist label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 26px;
	margin: 7px 0;
}
.adult label {
	margin-right: 44px;
}
.children label {
	margin-right: 24px;
}

/*Внутренняя*/

.container-in {
	width: 1200px;
	margin: 0 auto;
	background-color: #fefefe;
}
.main-footer-in {
	margin: 0;
	padding: 0;
}
.filter {
	color: #fff;
	background: #3e4c51 url('../img/bg-hotels.jpg') no-repeat;
	width: 1060px;
	height: 158px;
	padding: 30px 70px;
}
.filter p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}
.filter-box {
	float: left;
}
.filter-box p{
	margin-bottom: 23px;
}
.filter-check {
	display: inline-block;
	width: 245px;
}
.filter-in {
	margin-bottom: 21px;
}
.filter-in:last-child {
	margin-bottom: 0;
}
.filter-in label{
	line-height: 21px;	
}
.filter-in input[type="checkbox"] {
  display: none;
}
.filter-in input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-left: 40px;
	cursor: pointer;
}
.filter-in label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 26px;
	height: 22px;
	background: url('../img/sprite/sp-buttons2.png');
	background-position: -15px -411px;
}
.filter-in label:hover::before {
	background-position: -15px -515px;
}
.filter-in input[type="checkbox"]:disabled + label::before {
	background-position: -15px -463px;
}
.filter-in input[type="checkbox"]:checked + label::before {
	background-position: -15px -567px;
}
.filter-in input[type="checkbox"]:checked:hover + label::before {
	background-position: -15px -671px;
}
.filter-in input[type="checkbox"]:checked:disabled + label::before {
	background-position: -15px -619px;
}
.filter-sum {
	float: right;
	width: 328px;
}
.filter-sum p {
	margin-bottom: 15px;
}
.sum {
	margin-left: 10px;
	position: relative;
	font-size: 0;
}
.sum-min,
.sum-max {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 5px 0;
	border: 2px solid #fff;
	font-size: 0;
	width: 157px;
	text-align: right;
}
.sum-min {
	border-radius: 2px 0 0 2px;
	border-right: none;
}
.sum-min::after {
	content: "";
	position: absolute;
	top: 7px;
	right: 50%;
	width: 2px;
	height: 22px;
	background-color: #fff;
}
.sum-max {
	border-radius: 0 2px 2px 0;
	border-left: none;
}
.sum-min label,
.sum-max label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 24px;
	margin-right: 4px;
}
.sum-min input[type="text"],
.sum-max input[type="text"] {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	width: 70px;
	background: none;
	border: none;
	outline: none;
	text-align: left;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}
.sum-max input[type="text"] {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	width: 80px;
}
.sum-control {
    position: relative;
    margin-left: 10px;
}
.sum-control .scale {
    height: 2px;
    background: #918381;
    margin-top: 20px;
    width: 314px;
}
.sum-control .scale-selected {
    width: 82%;
    height: 2px;
    background: #fff;
}
.sum-control .toggle {
    position: absolute;
    width: 4px;
    height: 4px;
    top: -9px;
    left: 0;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #4d494a;
    cursor: pointer;
}
.sum-control .max-toggle {
    left: 251px;
}
.toggle:hover {
    background-color: #1c4f80;
}
.show {
	margin-top: 25px;
	text-align: center;
}
.show input[type="submit"] {
	border: 2px solid #fff;
	background: none;
	border-radius: 2px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	padding: 5px 0;
	width: 133px;
}
.sort-box {
	position: relative;
	padding: 30px 70px;
}
.box-find {
	padding: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 26px;
	margin-right: 45px;
}
.box-find p {
	margin: 0;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}
.box-num {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}
.sort-check {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
}
.sort-check p{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.sort-filter {
	display: inline-block;
	vertical-align: middle;
	margin-left: 38px;
}
.sort-filter button {
	margin-right: 30px;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	border-bottom: 1px dashed #81b3d2;
}
.sort-filter button.btn-sort {
	text-transform: uppercase;
	color: rgba(0, 0, 0, .3);
}
.sort-filter button.active:not(:hover) {
	color: #81b3d2;
	border: none;
}
.sort-filter button.btn-sort:hover {
	color: #81b3d2;
}
.sort-filter button.btn-sort:active {
	color: #000;
	border: none;
}
.sort-control {
	position: absolute;
	right: 70px;
	top: 30px;
}
.control-up {
	display: inline-block;
	width: 11px;
    height: 10px;
    background: url('../img/sprite/sp-buttons2.png') no-repeat;
    background-position: -15px -175px;
    margin-right: 5px;
    cursor: pointer;
}
.control-down {
	display: inline-block;
	width: 11px;
    height: 10px;
    background: url('../img/sprite/sp-buttons2.png') no-repeat;
    background-position: -15px -15px;
    cursor: pointer;
}
.sort-control .active:not(:hover) {
	background: url('../img/sprite/sp-buttons2.png') no-repeat;
	background-position: -15px -55px;
}
.control-up:hover {
	background-position: -15px -215px;
}
.control-down:hover {
	background-position: -15px -95px;
}
.control-up:active {
	background-position: -15px -135px;
}
.control-down:active {
	background-position: -15px -55px;
}
.result-box {
	font-size: 0;
	position: relative;
	padding: 30px 70px;
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
}
.result-box:nth-child(2n) {
	border: none;
}
.result-box a.result-pic {
	margin: 0;
	padding: 0;
	font-size: 0;
	width: 135px;
}
.result-name {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	margin-right: 15px; 
	width: 750px;

}
.result-name h2 {
	font-size: 21px;
	line-height: 26px;
	margin: 0 0 6px 0;
	padding: 0;
}
.result-name h2 a{
	text-decoration: none;
	color: #000;
}
.result-name h2 a:hover{
	color: #81b3d2;
}
.result-name h2 a:active{
	color: #cacaca;
}
.home-option {
	margin-bottom: 7px;
}
.option-type,
.option-price {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 21px;
}
.option-type {
	width: 110px;
	margin-right: 6px;
}
.btn-about {
	display: inline-block;
	vertical-align: top;
	width: 78px;
	padding: 3px 16px;
	background-color: #81b3d2;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	margin-right: 6px;
	font-size: 14px;
	line-height: 21px;
}
.btn-about:hover {
	background-color: #669ec0;
}
.btn-about:active {
	background-color: #5496bd;
	color: #85b0cd;
}
.reserve {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
}
.reserve input[type="submit"] {
	width: 142px;
	border: none;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: #766357;
	padding: 3px 16px;
}
.reserve input[type="submit"]:hover {
	background-color: #604e43;
}
.reserve input[type="submit"]:active {
	background-color: #503e33;
	color: #928a85;
}
.result-range {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 130px;
}
.range-star {
	font-size: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}
.range-num {
	background-color: #f2f2f2;
}
.range-num p {
	margin: 0;
	padding: 5px 16px;
	font-size: 14px;	
	line-height: 21px;
	color: #666666;
}

/*для JS*/

.search-form-show {
    display: block;
	-webkit-animation-name: appear;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: appear;
			animation-name: appear;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
}
@-webkit-keyframes appear {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 25%;
	}
	50% {
		opacity: 50%;
	}
	75% {
		opacity: 75%;
	}
	100% {
		opacity: 100%
	}
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 25%;
	}
	50% {
		opacity: 50%;
	}
	75% {
		opacity: 75%;
	}
	100% {
		opacity: 100%
	}
}